
*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin:0;
    min-height:100vh;
    transition: background 0.3s linear;

}

body.dark{
    background-color:black;
    color:white;

    transition: background 0.3s linear, color 0.3s linear;
}

body.dark label{
    background-color: white;
}

input{
    visibility: hidden;
}

label{
    width:50px;
    height:50px;
    background-color: black;
    border-radius: 30px;
    transition: background 0.3s linear;
    /* transition: transform 0.5s linear; */

}

label:active{
    /* background-color: red; */
    transform: translate(2px, 2px);
}


